body {
  color: #D3C4E3;
}
.header {
  padding: 30px;
  font-size: 40px;
  text-align: center;
  background-color: #89DAFF;
}
h2 {
  color: #191516;
}
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  padding: 10px;
}
.grid-item {
  padding: 20px;
  text-align: center;
  background-color: #90D0AA;
  border-radius: 5px;
}

/* other colour: #90D0AA */
